<%- include('../components/head.ejs', { title, cssPath }) %> 
<body>

<h1><%= message %></h1>

<ul class="students-list">
    <% Object.entries(studentsInfo).forEach(([student, studentsInfo]) => { %>
        <li class="student-item">
            <strong>Name:</strong> <a href="/students/<%= student %>"><%= studentsInfo.fullname %></a><br>
            <strong>Faculty:</strong> <%= studentsInfo.faculty %><br>
            <strong>Course:</strong> <%= studentsInfo.course %><br>
            <strong>Group:</strong> <%= studentsInfo.group %><br>
            <strong>Email:</strong> <%= studentsInfo.email %><br>
            <strong>Phone:</strong> <%= studentsInfo.phone %>
        </li>
    <% }); %>
</ul>

</body>
</html>
